/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* En-tête */
header {
    background-color: #970d52;
    color: white;
    padding: 20px;
}

img {
    border-radius: 50%;
}

/* Sections */
section {
    background-color: rgb(211, 184, 184);
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: left;
}

/* Liens */
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    font-size: 0.8em;
    color: gray;
    margin-top: 20px;
}
